* {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh;
}
#boxOne {
  background-color: aqua;
  grid-column: span 6;
}
#boxTwo {
  background-color: red;
  grid-column: span 6;
}